.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  text-align: center;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  border: 2px solid red;
  position: absolute;
  width: 80em;
  height: auto;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -0%);
  padding: 10px;
  background-color: #eee;
  padding: 0;
}

#prompt {
  text-align: left;
  margin-top: 1em;
  padding-left: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

#passage {
  text-align: left;
  padding-left: 2em;
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#illustration {
  text-align: left;
}

#illustration img {
  margin-left: 20em;
}

#question {
  height: 10em;
  font-size: 1.4em;
  height: 10%;
  padding-left: 2em;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

#option {
  padding-left: 3.5em;
  text-align: left;
  font-size: 1.1em;
  height: 50%;
}

.option {
  height: 2em;
}

#answer {
  height: 30%;
  font-size: 3em;
  color: red;
}

#button-group {
  bottom: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#button-group input {
  height: 3em;
  width: 10em;
}

#previous {
  margin-left: 4em;
  float: left;
}

#next {
  margin-right: 4em;
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  /* gap: 10px; */
  padding: 10px;
}

.grid-container>div {
  border: 1px solid black;
  font-size: 1.2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}